@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --primary: #000000;
  --secondary: #ffffff;
  --tertiary: #000000;
  --bg-color: #fff;
}

/*? Background Start*/
.bg {
  position: fixed;
  top: 0;
  left: 30rem;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@media only screen and (max-width: 1280px) {
  .bg {
    left: 0;
    top: 22rem;
  }
}
/*! Background END */

/* ? Nav Hover */
.nav-info {
  @apply relative px-4 cursor-pointer;
}
.nav-info span {
  @apply absolute -top-14 xl:-top-2 left-[50%] -translate-x-[50%]
  xl:-translate-x-[90%] xl:-left-[30%]
  z-20 origin-left scale-0 rounded-lg border border-gray-300
 bg-red-900/30 backdrop-blur-sm px-3 py-2 text-sm font-medium shadow-md transition-all
  duration-300 ease-in-out text-black;
}
/* ! Nav Hover END */

.h1 {
  @apply text-[30px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-bold;
}

p {
  @apply leading-[1.8] text-black font-light text-lg;
}

.gradient-text {
  @apply bg-gradient-to-r from-red-500 via-red-400
   to-rose-800 bg-clip-text inline-block text-transparent;
}

.icons {
  @apply hover:scale-110 transition-all duration-200 ease-in-out
  cursor-pointer;
}

.icons-hover {
  @apply hover:scale-125 transition-all duration-200 ease-in-out
  cursor-pointer;
}

.nav-pages {
  @apply cursor-pointer;
}

/* Theme Switcher */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f6bc2;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.download-button {
  font-family: inherit;
  font-size: 20px;
  background: rgb(192, 34, 23);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.download-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.download-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.download-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.download-button:hover svg {
  transform: translateX(3.5em) rotate(360deg) scale(1.1);
}

.download-button:hover span {
  transform: translateX(10em);
}

.download-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.circle {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 40px auto;
  animation: spin 10s linear infinite;
  z-index: -1;
  bottom: 32rem;
}

.circle__icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1280px) {
  .circle {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    top: 15rem;
    right: 20rem;
  }
  .circle__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .circle__icon--0,
  .circle__icon--1,
  .circle__icon--2,
  .circle__icon--3,
  .circle__icon--4,
  .circle__icon--5 {
    transform: translate(-50%, 0);
  }
}

.circle__icon--0 {
  transform: translate(-50%, -50%) rotate(0deg) translate(250px) rotate(0deg);
}
.circle__icon--1 {
  transform: translate(-50%, -50%) rotate(60deg) translate(250px) rotate(0deg);
}
.circle__icon--2 {
  transform: translate(-50%, -50%) rotate(120deg) translate(250px) rotate(0deg);
}
.circle__icon--3 {
  transform: translate(-50%, -50%) rotate(180deg) translate(250px) rotate(0deg);
}
.circle__icon--4 {
  transform: translate(-50%, -50%) rotate(240deg) translate(250px) rotate(0deg);
}
.circle__icon--5 {
  transform: translate(-50%, -50%) rotate(300deg) translate(250px) rotate(0deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
